@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #171717;
  color: #ffffff;
}

h1{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}